.body {
  position:absolute;
  width:320px;
  align:center;



}


.brain{
  position:absolute;
  width:48px;
  right:48.5%;



}

.left {
  position:absolute;
  right:50%;
  width:125px;
  

}

.right{
  position:absolute;
  left:50%;
  width:125px;


}

img:hover {
  z-index:100;
}
